/asif.png
/bravo.png
/csk.html
/deepak.png
/deja.png
/dhoni.png
/email.png
/har.png
/home.png
/kedar.png
/linkedin.png
/Mohit-Sharma.jpg.webp
/p.css
/phonecall.jpeg
/raina.png
/rayadu.png
/registration.html
/resume.css
/resume2.html
/santner.png
/sdhoni.png
/sdu.png
/shardul.png
/skills.png
/style.css
/tahir.png
/urusula.png
/vishnu logo.png
/watson.png